{{ if $.Params.math }}
  {{$katexCSS := resources.Get "lib/katex/katex.min.css"}}
  {{$katexCSS := $katexCSS | resources.Fingerprint "sha512"}}
  <link type="text/css" rel="stylesheet" href="{{$katexCSS.RelPermalink}}" integrity="{{$katexCSS.Data.Integrity}}">
  {{$katexJS := resources.Get "lib/katex/katex.min.js"}}
  {{$katexJS := $katexJS | resources.Fingerprint "sha512"}}
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css">

  <script defer src="{{$katexJS.RelPermalink}}" integrity="{{$katexJS.Data.Integrity}}"></script>
  {{$katexRenderJS := resources.Get "lib/katex/auto-render.min.js"}}
  {{$katexRenderJS := $katexRenderJS | resources.Fingerprint "sha512"}}
  <script defer src="{{$katexRenderJS.RelPermalink}}" integrity="{{$katexRenderJS.Data.Integrity}}"></script>
  {{$katexFonts := resources.Match "lib/katex/fonts/*"}}
  {{ range $katexFonts }}
    <!-- {{ .RelPermalink }} -->
  {{ end }}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      for (const p of document.querySelectorAll("p")) {
        if (/\$\$.*\$\$/g.test(p.innerText) && p.hasChildNodes()) {
          for (const child of p.children) {
            if (child.tagName === "EM") {
              const textNode = document.createTextNode(`_${child.innerText}_`);
              p.replaceChild(textNode, child);
            }
          }
        }
      }
      renderMathInElement(document.body, {
        delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "$", right: "$", display: false },
        ],
        preProcess: math => math.replaceAll(" \\\n", " \\\\\n"),
        throwOnError: false
      });
    });
  </script>

<!-- lo que está abajo lo agregué para que compile latex con deliminadores $...$ y \begin{...} -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true},
              {left: '\\begin{equation}', right: '\\end{equation}', display: true},
              {left: '\\begin{equation*}', right: '\\end{equation*}', display: true},
              {left: '\\begin{aligned}', right: '\\end{aligned}', display: true},
              {left: '\\begin{align}', right: '\\end{align}', display: true},
              {left: '\\begin{alignat}', right: '\\end{alignat}', display: true},
              {left: '\\begin{multline}', right: '\\end{multline}', display: true},
              {left: '\\begin{gather}', right: '\\end{gather}', display: true},
              {left: '\\begin{CD}', right: '\\end{CD}', display: true}
          ],
          throwOnError: false
      });
  });
</script>
{{ end }}
